h5{ color: yellow; }
/* CSS 주석 */
/* (html)마크업 에 스타일 적용 문법 */
/* 
    선택자 { 속성명 : 속성값; 속성명 : 속성값; }
    선택자 종류
        1. * : 와일드카드(전체)
        2. h4 : 특정마크업명
        3. .class : 특정클래스명 지정     ( 복수 식별 ) 
        4. #id : 특정아이디명 지정        ( 단일 식별 )

    선택자 우선순위( 만약에 동일한 속성이 중복이면 )
        * < 특정마크업 < .className < #id 
        - 만일 동일한 수준이면 아래에 구성한 CSS 적용한다.
        - <마크업 style="CSS문법"> 우선 적용된다.
*/
*{ color: brown; }
h6{ color: aqua; }
.구역1{ color : beige; }
#구역2{ color : black; }
#구역2{ color: tomato; }