.title{
    font-family: '궁서'; /*글꼴*/
    font-size: 50px;    /*글자 크기*/
    font-style: italic; /*글자 기울기*/
    font-weight: 900;   /*글자 진하게*/
    padding-left: 450px;  
}
@font-face {
    font-family: 'YeogiOttaeJalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
.본문구역{
    font-family: 'YeogiOttaeJalnan'; /* 웹폰트 글꼴 */
    color : blue;              /* 글자 색상 */
    word-spacing: 10px;         /* 단어간격(어간) */
    letter-spacing: 10px;        /* 글자간격(자간) */
    line-height: 160%;
    font-size: 17px;   
    padding-left: 450px;       
}
.작성자{
    text-align: center;         /* 텍스트 가로정렬 : left center right */
    text-decoration: underline overline line-through ;
    /* underline : 밑줄 , overline 윗줄 , line-through 취소선 */
    /* 색상 표현 방법 */
    color : red; /* 색상명 */  
}
.작성자1{
    text-align: center;         /* 텍스트 가로정렬 : left center right */
    text-decoration: underline overline line-through ;
    /* underline : 밑줄 , overline 윗줄 , line-through 취소선 */
    /* 색상 표현 방법 */
    color : red;  /* 방법1 : 색상명 */ 
    font-weight: 900; 
    font-size: 30px;
}
@font-face {
    font-family: 'YeogiOttaeJalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
.본문구역1{
    font-family: 'YeogiOttaeJalnan'; /* 웹폰트 글꼴 */
    color : blue;              /* 글자 색상 */
    word-spacing: 10px;         /* 단어간격(어간) */
    letter-spacing: 10px;        /* 글자간격(자간) */
    line-height: 160%;   
    font-size: 17px;    
    padding-left: 450px;     /* 줄간격 , %백분위 */
}
.작성자2{
    text-align: center;         /* 텍스트 가로정렬 : left center right */
    text-decoration: underline overline line-through ;
    /* underline : 밑줄 , overline 윗줄 , line-through 취소선 */
    /* 색상 표현 방법 */
    color : red;  /* 방법1 : 색상명 */
}